/* header */
.header {
  background-color: var(--white-color);
  height: 84px;
  z-index: 1;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px ;
}


.header__navbar-list {
  font-size: 1.6rem;
}

.header__navbar-list-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.category-picker {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 450;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  height: 44px;
}

.category-picker-text {
  -webkit-user-select: none;
  user-select: none;
}

.header__navbar-list-item__category-picker {
  position: relative;
}

.header__navbar-list-item__category {
  width: 195px;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--white-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 9px 18px;
  display: none;
  transform-origin: 50% top;
  animation: regular linear 0.1s;
}

.header-checker {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.logo {
  z-index: 1;
}

.header__navbar-list-item__category-picker {
  z-index: 1;
}

#category-picker-checker {
}

#category-picker-checker:checked ~ .header .header-checker {
  pointer-events: visible;
}

#category-picker-checker:checked ~ .header .header__navbar-list-item__category {
  display: block;
}

#category-picker-checker:checked ~ .header .category-picker__icon-select-up {
  display: inline-block;
}

#category-picker-checker:checked ~ .header .category-picker__icon-select-down {
  display: none;
}

.category-picker__icon-select-up {
  padding: 0 18px 0 16px;
  font-size: 1.4rem;
  display: none;
}

.category-picker__icon-select-down {
  padding: 0 18px 0 16px;
  font-size: 1.4rem;
  display: inline-block;
}

.header__navbar-category-list {
  list-style-type: none;
}

.header__navbar-category-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.header__navbar-category-item:hover,
.header__navbar-category-item:hover span {
  color: var(--primary-color);
}

.header__navbar-category-item__icon {
  display: block;
  min-width: 23px;
  min-height: 23px;
  text-align: center;
  font-size: 2rem;
}

.header__navbar-category-item__text {
  color: var(--text-color);
  font-weight: 450;
  font-size: 1.4rem;
  text-align: start;
  padding-inline-start: 15px;
  width: 100%;
}


.category-picker__icon-apple {
  font-size: 1.8rem;
  padding: 0 8px 0 18px;
}


.header__navbar-list-item-nav{
  color: var(--text-color);
  gap: 40px;
}

.text:hover {
  color: var(--primary-color);
}

.header__navbar-list-item-pages {
  color: var(--text-color);
  cursor: pointer;
  position: relative;
}

.header__navbar-list-item-pages:hover .header__navbar-list-item-pages__icon,
.header__navbar-list-item-pages:hover .pages {
  color: var(--primary-color);
}

.header__navbar-list-item-pages:hover .page__menu-list {
  display: block;
}

.page__menu::after {
  content: "";
  border-width: 20px 40px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  top: -20px;
  left: 0;
}

.header__navbar-list-item-pages__icon {
  padding-left: 10px;
}

.page__menu {
  position: absolute;
  top: 30px;
  left: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 243px;
}

.page__menu-list {
  display: none;
  list-style-type: none;
  padding: 23px 0;
  animation: regular linear 0.15s;
}

.page__menu-item  {
  padding: 11px 0;
}

.page__menu-item-text {
  display: inline-block;
  width: 100%;
  margin-left: 23px;
  text-decoration: none;
  color: var(--text-color);
}

.page__menu-item-text:hover {
  color: var(--primary-color);
}

.page__menu-item:hover {
  transform: translateX(3px);
  transition: linear 0.1s;
}

.header__navbar-list-item-nav a {
  color: var(--text-color);
  text-decoration: none;
}

.header__navbar-list-item-btn {
  gap: 20px;
}

.btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 10px 13px;
  border-radius: 5px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.btn:hover {
  background-color: #009174;
}

